<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redis.dao.RedisMapper" >
  <resultMap id="BaseResultMap" type="com.redis.model.RedisModel" >
    <id column="adv_id" property="advId" jdbcType="BIGINT" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="adv_message" property="advMessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    adv_id, img_url, adv_message
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from demo_adv
    where adv_id = #{advId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from demo_adv
    where adv_id = #{advId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.redis.model.RedisModel" >
    insert into demo_adv (adv_id, img_url, adv_message
      )
    values (#{advId,jdbcType=BIGINT}, #{imgUrl,jdbcType=VARCHAR}, #{advMessage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.redis.model.RedisModel" >
    insert into demo_adv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advId != null" >
        adv_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="advMessage != null" >
        adv_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advId != null" >
        #{advId,jdbcType=BIGINT},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="advMessage != null" >
        #{advMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redis.model.RedisModel" >
    update demo_adv
    <set >
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="advMessage != null" >
        adv_message = #{advMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where adv_id = #{advId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redis.model.RedisModel" >
    update demo_adv
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      adv_message = #{advMessage,jdbcType=VARCHAR}
    where adv_id = #{advId,jdbcType=BIGINT}
  </update>
</mapper>